<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142752123-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-142752123-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Pauline Lambert - Développeuse web</title>
    <meta name="description" content="Bonjour, je m'appelle Pauline et je suis développeuse web junior, à la recherche d'une alternance pour octobre 2019.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <%= stylesheet_link_tag 'welcome' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a86e47e06.js"></script>
</head>
<body>
    <header>
        <div id="brownbar">
            <div class="container">
                <ul>
                    <li><a href="mailto:hello@pauline.dev" aria-label="E-mail"><i class="fas fa-envelope icon"></i></a></li>
                    <li><a href="https://linkedin.com/in/paulineld" target="_blank" aria-label="LinkedIn" rel="noreferrer"`><i class="fab fa-linkedin-in icon"></i></a></li>
                    <li><a href="https://github.com/myaow" target="_blank" aria-label="GitHub" rel="noreferrer"`><i class="fab fa-github icon"></i></a></li>
                    <li><a href="/cv-pauline-lambert.pdf" target="_blank" aria-label="Curriculum Vitae"><i class="fas fa-file-pdf icon"></i></a></li>
                </ul>
            </div>
        </div>
    </header>
    
    <div class="container">
        <div id="infos">
            <div id="photo">
                <%= image_tag('photo.png', alt:'pauline lambert') %>
            </div>
            <div id="labels">
                <h1 id="name">
                    PAULINE <b>LAMBERT</b>
                </h1>
                <h2 id="job">
                    WEBMASTER EDITORIAL
                </h2>
            </div>
        </div>
        <div id="about">
            <div class="title">
                <h3>&nbsp;A PROPOS</h3>
            </div>
            <p class="abouttext">
                Après 5 ans d’expérience en gestion communautaire, j'ai décidé de devenir plus polyvalente pour occuper des postes de webmaster éditorial.
                Depuis juillet 2018, je découvre le développement et me forme en Ruby, Python et Javascript.
            </p>
        </div>
        <div id="containercv">
            <div id="leftcolumn">
                <div id="formations">
                    <div class="title">
                        <h3>&nbsp;FORMATION</h3>
                    </div>
                    <div class="formation">
                        <div class="datef">
                            Juin 2019
                        </div>
                        <div class="forma">
                            <p class="school">GRETA METEHOR / CISCO / Python Institute</p>
                            <p class="diploma">Formation Python de 5 semaines</p>
                            <p class="diploma">Certification CISCO "Programming Essentials in Python"</p>
                        </div>
                    </div>
                    <div class="formation">
                        <div class="datef">
                            Été 2018
                        </div>
                        <div class="forma">
                            <p class="school">The Hacking Project</p>
                            <p class="diploma">Bootcamp de 11 semaines (Ruby on Rails, HTML, CSS, JS, JQuery)</p>
                        </div>
                    </div>
                    <div class="formation">
                        <div class="datef">
                            2015 - 2017
                        </div>
                        <div class="forma">
                            <p class="school">Université Paul Valéry - Montpellier III</p>
                            <p class="diploma">Master Humanités Numériques</p>
                        </div>
                    </div>
                </div>
                
                <div id="competences">
                    <div class="bloccomp">
                        <div class="title">
                            <h3>&nbsp;TECHNOLOGIES</h3>
                        </div>
                        <p class="comp">
                            Python
                        </p>
                        <p class="comp">
                            Ruby
                        </p>
                        <p class="comp">
                            Ruby on Rails
                        </p>
                        <p class="comp">
                            HTML 5
                        </p>
                        <p class="comp">
                            CSS 3
                        </p>
                        <p class="comp">
                            Bootstrap 4
                        </p>
                        <p class="comp">
                            Javascript
                        </p>
                        <p class="comp">
                            jQuery
                        </p>
                    </div>
                    <div class="bloccomp">
                        <div class="title">
                            <h3>&nbsp;LOGICIELS</h3>
                        </div>
                        <p class="comp">
                            Windows 10
                        </p>
                        <p class="comp">
                            Linux
                        </p>
                        <p class="comp">
                            Adobe Photoshop
                        </p>
                        <p class="comp">
                            Adobe InDesign
                        </p>
                        <div class="title">
                            <h3>&nbsp;LANGUES</h3>
                        </div>
                        <p class="comp">
                            Anglais C2
                        </p>
                        <p class="comp">
                            Allemand B2
                        </p>
                    </div>
                </div>
                <div class="title">
                    <h3>&nbsp;PROJETS</h3>
                </div>
                <div id="projets">
                    
                    <div class="blocprojet">
                        <div class="intituleprojet">
                            <div class="logoprojet"></div>
                            <div class="titreprojet">
                                <p><b>Polygones</b></p>
                                <p><a href="https://polygones.herokuapp.com">polygones.herokuapp.com</a></p>
                            </div>
                        </div>
                        <div class="descprojet">
                            <p>Création d’un CMS permettant de créer
                                un blog facilement et sans connaissance
                                technique.</p>
                                <p>Travail de groupe (2 semaines)</p>
                            </div>
                        </div>
                        <div class="blocprojet">
                            <div class="intituleprojet">
                                <div class="logoprojet"></div>
                                <div class="titreprojet">
                                    <p><b>Picatsa</b></p>
                                    <p><a href="https://picatsa.herokuapp.com">picatsa.herokuapp.com</a></p>
                                </div>
                            </div>
                            <div class="descprojet">
                                <p>Création d’un site de vente de photos
                                    de chats, celles-ci étant envoyées par
                                    e-mail après l’achat.</p>
                                    <p>Travail de groupe (1 semaine)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="rightcolumn">
                        <div class="title">
                            <h3>&nbsp;EXPERIENCE</h3>
                        </div>
                        <div class="experience">
                            <div class="arrow">
                                2018
                            </div>
                            <div class="dotbar">
                            </div>
                            <div class="exp">
                                <p><b>Community Manager</b></p>
                                <p>Unow</p>
                                <p>Lyon</p>
                            </div>
                        </div>
                        <div class="experience">
                            <div class="arrow">
                                2017
                            </div>
                            <div class="dotbar">
                            </div>
                            <div class="exp">
                                <p><b>Social Media Manager</b></p>
                                <p>DG Pôle Emploi</p>
                                <p>Paris</p>
                            </div>
                        </div>
                        <div class="experience">
                            <div class="arrow">
                                2017
                            </div>
                            <div class="dotbar">
                            </div>
                            <div class="exp">
                                <p><b>Community Manager</b></p>
                                <p>Bigpoint Games</p>
                                <p>Lyon</p>
                            </div>
                        </div>
                        <div class="experience">
                            <div class="arrow">
                                2015
                            </div>
                            <div class="dotbar">
                            </div>
                            <div class="exp">
                                <p><b>Community Manager</b></p>
                                <p>Ubisoft</p>
                                <p>Montpellier</p>
                            </div>
                        </div>
                        <div class="experience">
                            <div class="arrow">
                                2014
                            </div>
                            <div class="dotbar">
                            </div>
                            <div class="exp">
                                <p><b>Community Manager</b></p>
                                <p>Les Méditerranées</p>
                                <p>Marseillan Plage</p>
                            </div>
                        </div>
                        <div class="experience">
                            <div class="arrow">
                                2013
                            </div>
                            <div class="dotbar">
                            </div>
                            <div class="exp">
                                <p><b>Community Manager</b></p>
                                <p>Aeria Games</p>
                                <p>Berlin</p>
                            </div>
                        </div>
                        <div class="experience">
                            <div class="arrow">
                                2012
                            </div>
                            <div class="dotbarsm">
                            </div>
                            <div class="exp">
                                <p><b>Assistante de projet web</b></p>
                                <p>Sud Santé</p>
                                <p>La Garde</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <footer>
                <div id="bluebar">
                </div>
            </footer>
        </body>
        </html>
        